ul {
	height:9em; width:42em;
	position: relative;
	margin-left: 20px;
	padding-left: 20px;;
}

li { margin:0;
    padding:0;
    list-style:none;
    position:relative;
	float:left;
    text-align: center; }

ul .white {
	height:8em; width:4em; z-index:1;
    border-left:1px solid black;
    border-right: 1px solid black;
	border-bottom:2px solid black;
	border-radius:0 0 5px 5px;
	box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(top, #eee 0%,#fff 100%);
	line-height: 200px;
}

ul .white:active {
	border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}

.black {
    color: white;
	height:4em; width:2em; margin:0 0 0 -1em; z-index:2;
	border:1px solid #000;
	border-radius:0 0 3px 3px;
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
	background:linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active {
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	background:linear-gradient(left, #444 0%,#222 100%);
}

.a,.g,.f,.d,.c { margin:0 0 0 -1.1em;  }


@media (max-width: 1000px){
	ul {
		height:7em; width:34em;
		position: relative;
		margin-left: 0px;
	}
	
	ul .white {
		height:100%; width:3.2em; z-index:1;

	}
}

@media (max-width: 767px) {
	ul {
		height:7em; width:23em;
		position: relative;
		margin-left: 20px;
		padding-left: 0;
	}
	
	ul .white {
		height:100%; width:2.15em; z-index:1;
	}
	.black {
		color: white;
		height:4em; width:1.3em; margin:0 0 0 -1em; z-index:2;
	}
	.a,.g,.f,.d,.c { margin:0 0 0 -0.4em;  }
}

@media (max-width: 375px) {
	ul {
		height:7em; width:18.5em;
	}
	
	ul .white {
		height:100%; width:1.6em; z-index:1;
	}
	.black {
		color: white;
		height:4em; width:1.2em; margin:0 0 0 -1em; z-index:2;
	}
	.a,.g,.f,.d,.c { margin:0 0 0 -0.28em;  }
}